* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: #484848;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-weight: 100;
  margin-bottom: 0.5em;
}

p {
  font-weight: 100;
  line-height: 1.5;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: inherit;
}

button:hover {
  box-shadow: 5px 5px 5px black;
}

header > div {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 30px 20px;
  background-color: #99ccff;
}

.header-nav > ul > li {
  margin-left: 10px;
}

.header-logo {
  font-size: 2.5em;
  font-weight: 100;
}

.header-hamburger-menu {
  cursor: pointer;
  padding: 5px;
}

.header-hamburger-menu:hover {
  background-color: #162b4d;
}

.header-hamburger-menu > div {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  margin: 10px 0;
}

.header-nav > ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-nav a {
  display: inline-block;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 20px;
  font-size: 1.5em;
  font-weight: 100;
}

.header-nav a:hover {
  background-color: #162b4d;
}

.text-colored {
  color: #000000;
}

.main {
  padding: 20px 0;
}

.main-image {
  width: 100%;
  color: #ffffff;
  position: relative;
}

.main-image > div {
  position: absolute;
  padding: 20px;
  top: 50%;
}

footer {
  background-color: #162b4d;
  color: #b8b8b8;
  text-align: left;
  display: flex;
}

footer > div {
  margin: auto;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px;
}

.post {
  display: flex;
}

.post:nth-child(1) {
  background-color: #f3d250;
}
.post:nth-child(2) {
  background-color: #8d8741;
}
.post:nth-child(3) {
  background-color: #659dbd;
}
.post:nth-child(4) {
  background-color: #daad86;
}

.post-content:hover {
  opacity: 0.5;
  cursor: pointer;
}

.post > div {
  padding: 10px;
  display: flex;
}

.post-time {
  text-align: center;
}

.post-time p:nth-child(odd) {
  font-size: 2em;
}

.post-time p:nth-child(even) {
  font-size: 1.5em;
}

.main-news-info:not(:first-child) {
  margin-top: 15px;
}

.main-news-info {
  border: 1px solid black;
}

.main-news-info > div {
  padding: 10px;
}

.main-news-info > div > button {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  header > div {
    width: 320px;
    flex-direction: column-reverse;
  }

  .main-image > div {
    display: none;
  }

  .header-logo {
    margin-top: 40px;
  }

  .header-nav .header-hamburger-menu {
    display: block;
  }

  .header-nav > ul {
    display: none;
  }

  .main {
    width: 320px;
    margin: auto;
  }

  .post-content > div > h2 {
    font-size: 2em;
  }

  .main-post-wrapper {
    display: flex;
    flex-direction: column;
  }

  .posts-wrapper {
    width: 100%;
    padding: 20px;
  }

  .post > * {
    width: 100%;
  }

  .post-content {
    flex-direction: column;
  }

  .post > div {
    padding: 20px 20px;
  }

  .post-time > p {
    display: inline;
  }

  .main-news {
    width: 100%;
    padding: 20px;
  }

  footer {
    width: 320px;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .post {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  header > div {
    width: 768px;
    flex-direction: column-reverse;
  }

  .header-logo {
    margin-top: 40px;
  }

  .main-image > div {
    top: 20%;
  }

  .header-nav .header-hamburger-menu {
    display: block;
  }

  .header-nav > ul {
    display: none;
  }

  .main {
    width: 768px;
    margin: auto;
  }

  .post-content > div > h2 {
    font-size: 3em;
  }

  .main-post-wrapper {
    display: flex;
    padding: 20px;
  }

  .main-post-wrapper > *:nth-child(n + 2) {
    margin-left: 10px;
  }

  .posts-wrapper {
    width: 65%;
  }

  .post {
    display: flex;
    flex-direction: column;
  }

  .post > * {
    width: 100%;
  }

  .post > div {
    padding: 30px 20px;
  }

  .post-time > p {
    display: inline;
  }

  .post-content {
    flex-direction: column;
  }

  .main-news {
    width: 35%;
  }

  footer {
    width: 768px;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  header > div {
    width: 1280px;
    flex-direction: row;
  }

  .header-nav .header-hamburger-menu {
    display: none;
  }

  .header-nav > ul {
    display: flex;
  }

  .main {
    width: 1280px;
    margin: auto;
  }

  .main-post-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .main-post-wrapper > *:nth-child(n + 2) {
    margin-left: 10px;
  }

  .posts-wrapper {
    width: 65%;
  }

  .post > * {
    width: 50%;
  }

  .even {
    flex-direction: row-reverse;
    text-align: right;
  }

  .odd {
    flex-direction: row;
    text-align: left;
  }

  .post:nth-child(2n) .post-content {
    flex-direction: row-reverse;
  }

  .post-content > div > h2 {
    font-size: 2em;
  }

  .main-news {
    width: 35%;
  }

  footer {
    width: 1280px;
    flex-direction: row;
    margin: 0 auto;
  }
}
